@{
    ViewData["Title"] = "Página Inícial";
}

<div class="text-center">
    <h1 class="display-4">Empréstimos Online</h1>
    <p>Abra um livro, deixe-se levar. Um novo mundo você vai encontrar!</p>
    <div>
        <img src="/img/colors-recruiting-manager-looking-at-resume.png"/>
    </div>
</div>
